html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;  
}

// Disable chrome outlining
*:focus {
    outline: none;
}

.sneaky-snek {
  // Centered 800px wide not responsive display area
  width: 800px;
  margin: auto;
  // Helping to position the menu overlay
  position: relative;

  h1 {
    text-align: center;
  }

  .score {
    text-align: right;
    padding: 5px 50px;
    margin-bottom: -40px;
    .high-score {
      color: #ff9800;
      font-weight: bold;
    }
  }

  .menu {
    // Absolute centering
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(50%, 50%);
    .menu-play {
      // Absolute centering
      transform: translate(-50%, -50%);
      
      padding: 20px 50px;
      font-size: 2em;
    }
  }

  canvas {
    border: 1px solid #000;

  }
}