html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;  
}


.sneaky-snek {
  // Centered 800px wide not responsive display area
  width: 800px;
  margin: auto;

  h1 {
    text-align: center;
  }

  .score {
    text-align: right;
    padding: 5px 50px;
    margin-bottom: -40px;
  }

  canvas {
    border: 1px solid #000;

  }
}